/* Colors */
$bg: #006699
$content-bg: #005588
$forecolor: #cccccc
$jingool: #ff7e1d

$button-bg: $bg
$nav-hover-bg: $content-bg

/* Grid */
$gutter: 8px
$devices:                     ("sm": (  0px,  768px, 13px))
$devices:                     ("md": (769px, 1024px, 13px))
$devices: map-merge($devices, ("lg": (1025px, 1200px, 13px)))
$devices: map-merge($devices, ("xg": (1201px, 4096px, 13px)))
$colshadow: none
//$colshadow: inset 0 0 1px #0f0; 

/* Font */
$font: Helvetica

/* Nav */
$nav-icon-size: 32px

@mixin grayscale
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)

@mixin nofilter
  -webkit-filter: none
  filter: none

