/* Colors */
$orange: #ff7e1d
$gray: #aaaaaa
$black: #000000

//$bg: #99ccff
$bg: #006699
$bgdark: #005588
$bgdarker: #004477
$bglight: #1177aa
$forecolor: #cccccc
$gutter: 8px
$iconsize: 18px

$devices:                     ("sm": (0px,   768px,  16px))
$devices: map-merge($devices, ("lg": (769px, 4096px, 13px)))

$direction: ltr
$float: left
$far: right
$colborder: none
$rowborder: none
//$colborder: 1px solid #DDDDDDAA
//$rowborder: 1px solid #AA5555AA

$font: Helvetica

@mixin grayscale
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)

@mixin nofilter
  -webkit-filter: none
  filter: none

